DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL=postgresql://booster_role:booster_role@localhost:5432/booster_role
BOOSTER_ROLE_ANCHOR_ROLE_ID=
BOOSTER_ELIGIBILITY_ROLE_ID=1206431347925852162
BOOSTER_GREETING_CHANNEL_ID=
LOG_LEVEL=info
